tensorflow-cpu
keras~=2.11.0
pandas==1.5.2
numpy==1.24.1
matplotlib==3.6.3
sklearn~=0.0.post1
scikit-learn==1.2.0
ijson==3.2.0.post0
scipy==1.10.0
psycopg2~=2.9.5
sqlalchemy==2.0.0
Django~=4.1.5
tensorboard
nltk
djangorestframework~=3.14.0